<div class="main">
  <div class="header">
    <div class="title">{{title}}</div>
    <div class="search">
      <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
    </div>
  </div>
  <div class="novels">
    <div *ngFor="let novel of novels" class="novel">
      <div *ngIf="searchText==='' || novel.name.toLocaleLowerCase().includes(searchText)">
        <div class="image-container">
          <a  routerLink="/novels/novel/{{novel.id}}"><img src="{{ novel.imageLink }}" class="novel-image" alt="{{ novel.name }}" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
