.header{
  display: flex;
  padding: 0 0 1%
}
.title{
  font-size: 150%;
  padding: 0 0.5%;
  color: #36180d;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-all{
  padding: 0 0.5%;
  display: flex;
  text-decoration: none;
  color: #36180d;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.view-all-heading{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-icon-main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-icon{
  padding: 0 0 10% 0;
  transform: scale(0.6);
  margin:auto;
}
.slick-slider {
  width: 95vw;
  height: auto;
}
.product-image{
  border-radius: 10%;
  width: 100%;
  padding: 0 6%;
  cursor: pointer;
}
.slide{
}
.mobile{
  display: none;
}

@media (max-width: 768px) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}
