<div class="header">
  <div class="title">{{title}}</div>
  <div routerLink="/genre/{{genre}}" class="view-all">
    <div class="view-all-heading">View All</div>
    <div class="mat-icon-main">
      <mat-icon class="mat-icon">arrow_forward</mat-icon>
    </div>
  </div>
</div>

<div class="desktop">
  <ngx-slick-carousel
    class="carousel slides"
    #slickModal="slick-carousel"
    [config]="slideConfigDesktop"
  >
    <div ngxSlickItem *ngFor="let image of products" class="slide">
      <img (click)="viewproductDetails(image.id)" src="{{ image.imageUrl }}" class="product-image" alt="{{ image.id }}" />
    </div>
  </ngx-slick-carousel>
</div>

<div class="mobile">
  <ngx-slick-carousel
    class="carousel slides"
    #slickModal="slick-carousel"
    [config]="slideConfigMobile"
  >
    <div ngxSlickItem *ngFor="let image of products" class="slide">
      <img (click)="viewproductDetails(image.id)" src="{{ image.imageUrl }}" class="product-image" alt="{{ image.id }}" />
    </div>
  </ngx-slick-carousel>
</div>
