<div class="header">
  <div class="title">{{genre}}</div>
  <div >
    <a routerLink="/genre/{{genre}}" class="view-all">
      <div class="view-all-heading">View All</div>
      <div class="mat-icon-main">
        <mat-icon class="mat-icon">arrow_forward</mat-icon>
      </div>
    </a>
  </div>
</div>

<div class="desktop">
  <ngx-slick-carousel
    class="carousel slides"
    #slickModal="slick-carousel"
    [config]="slideConfigDesktop"
  >
    <div ngxSlickItem *ngFor="let image of images" class="slide">
      <img (click)="viewNovelDetails(image.id)" src="{{ image.imageLink }}" class="novel-image" alt="{{ image.id }}" />
    </div>
  </ngx-slick-carousel>
</div>

<div class="mobile">
  <ngx-slick-carousel
    class="carousel slides"
    #slickModal="slick-carousel"
    [config]="slideConfigMobile"
  >
    <div ngxSlickItem *ngFor="let image of images" class="slide">
      <img (click)="viewNovelDetails(image.id)" src="{{ image.imageLink }}" class="novel-image" alt="{{ image.id }}" />
    </div>
  </ngx-slick-carousel>
</div>
