.header{
  display: flex;
}
.title{
  font-size: 150%;
  padding: 1% 0.5%;
  line-height: 1.25vw;
  color: #36180d;
  font-weight: 500;
}
.view-all{
  display: flex;
  padding: 10% 0 0;
  text-decoration: none;
  color: #36180d;
}
.view-all-heading{
  padding: 1% 0 0;
  margin: auto;
}
.mat-icon-main{
  margin: auto;
  padding: 5% 0 0;
}
.mat-icon{
  padding: 0 0 10% 0;
  transform: scale(0.6);
  margin:auto;
}
.slick-slider {
  width: 95vw;
  height: auto;
}
.novel-image{
  border-radius: 10%;
  width: 100%;
  padding: 0 6%;
}
.slide{
}
.mobile{
  display: none;
}

@media (max-width: 768px) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  .view-all{
    padding: 0.1%;
  }
  .mat-icon-main{
    padding: 0 0 1.2%;
  }
}
