<div class="title">{{title}}</div>

<div class="desktop">
  <ngx-slick-carousel
    class="carousel slides"
    #slickModal="slick-carousel"
    [config]="slideConfigDesktop"
  >
    <div ngxSlickItem *ngFor="let image of images" class="slide">
      <a  routerLink="/novels/novel/{{image.id}}"><img src="{{ image.imageLink }}" class="novel-image" alt="{{ image.id }}" /></a>
    </div>
  </ngx-slick-carousel>
</div>

<div class="mobile">
  <ngx-slick-carousel
    class="carousel slides"
    #slickModal="slick-carousel"
    [config]="slideConfigMobile"
  >
    <div ngxSlickItem *ngFor="let image of images" class="slide">
      <a  routerLink="/novels/novel/{{image.id}}"><img src="{{ image.imageLink }}" class="novel-image" alt="{{ image.id }}" /></a>
    </div>
  </ngx-slick-carousel>
</div>
