<div class="main">
  <div class="header">
    <div class="title">{{title}}</div>
    <div class="search">
      <app-filter
        (searchTextChanged)="onSearchTextEntered($event)"
        (genreSelected)="onGenreSelected($event)"
        [hideFilterBar]=hideFilterBar
        [hideSearchBar]=hideSearchBar
        [hideSelectBar]=hideSelectBar
        [genreName]="genre"
      ></app-filter>
    </div>
  </div>
  <app-novels-display
    [searchText]="searchText"
    [genre]="genreSelect"
  ></app-novels-display>
</div>
