.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.select-heading {
  font-size: 120%;
  margin-right: 1rem;
}

.mat-card {
  flex: 1;
  max-width: 200px;
  min-width:125px;
  margin-right: 1rem;
}

.search {
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.search-heading {
  font-size: 120%;
  margin-right: 0.5rem;
}

.search-input {
  flex: 1;
  max-width: 200px;
  margin-right: 1rem;
  max-height: 24px;
}

@media (max-width: 768px) {
  .select-heading {
    font-size: 100%;
  }
  .search-heading {
    font-size: 100%;
  }
  .search-input {
    max-width: 120px;
  }
}
