*{
  padding: 0 2%;
  background-color: #f3e6da;
  background-image:  radial-gradient(#292622 0.5px, transparent 0.5px), radial-gradient(#292622 0.5px, #f3e6da 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

.heading{
  font-size: 150%;
  padding: 1%;
  line-height: 1.25vw;
  color: #e5e5e5;
  font-weight: 500;
}
